.mainForm {
    width: 500px;
    padding: 20px;
    border: 5px solid #f0eded;
    background-color: #f0eded;
}
.bgMain{
    background-image: url(https://c1.wallpaperflare.com/preview/28/362/469/meat-calf-veal-beef.jpg);
}

